* {
  transition: 0.2s all;
}

.todo {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.8px;
  line-height: 1.3;
  color: #2b2b2b;
  padding: 33px 22px;
}

.todo__title {
  text-align: center;
}

.todo__item + .todo__item {
  margin-top: 12px;
}

.todo__item-check {
  width: 100%;
}

.todo__item-check label {
  display: flex;
  align-items: center;
}

.todo__item-check input:checked + .todo__item-check-icon {
  display: none;
}

.todo__item-check input:checked ~ .complete {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__item-check input:checked ~ .complete:before {
  font-size: 12px;
}

.todo__item-check-icon {
  display: block;
  border-radius: 5px;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-color: #ebebeb;
  overflow: hidden;
}

.todo__item-check-icon.complete {
  background-color: #2b2b2b;
  color: #fff;
  display: none;
}

.todo__item-button {
  padding: 2px;
  margin: 0 2px;
}

.todo__item-buttonarea {
  margin: -2px -4px -2px 6px;
  display: flex;
  align-items: center;
}

.todo__item-button-icon {
  display: block;
}

.todo__content {
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 20px 12px;
  display: flex;
  align-items: center;
  opacity: 1;
}

.todo__content-text {
  font-weight: 700;
  padding: 0 10px;
}

.todo__content.complete {
  opacity: 0.4;
}

.todo__content.complete .todo__content-text {
  text-decoration: line-through;
}

.todo__detail {
  margin-top: 36px;
  position: relative;
}

.todo__detail-desc {
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
  height: 300px;
  margin-top: 40px;
}

.todo__detail-desc textarea {
  display: block;
  width: 100%;
  background-color: #f6f2e5;
  height: 100%;
  padding: 16px;
}

.todo__detail-desc textarea::placeholder {
  color: #d0bd7d;
}

.form {
  margin-top: 36px;
}

.form-wrap {
  display: flex;
  border-radius: 40px;
  overflow: hidden;
  background-color: #fff;
}

.form__element {
  padding: 14px 16px;
  width: 100%;
}

.form__button {
  margin-left: auto;
  background-color: #07d1ad;
  color: #fff;
  padding: 14px 16px;
}

.form__button.update {
  background-color: #d129ec;
}

.button-base {
  height: 60px;
  border-radius: 16px;
  overflow: hidden;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.05));
  padding: 12px 20px;
  background-color: #07d1ad;
  color: #fff;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.button-base--cancel {
  background-color: #d1d1d1;
}

.button-base + .button-base {
  margin-left: 10px;
}

.button-area {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px 22px;
  width: 100%;
  display: flex;
}

.button-prev {
  background-color: #fff;
  position: absolute;
  left: -22px;
  top: -66px;
  border-radius: 0 10px 10px 0;
}

.icon {
  display: block;
}

.icon-prev {
  font-size: 2.25rem;
}
